{% extends 'layout.html.twig' %}

    {% block title %}Home{% endblock %}

    {% block css %}
        {{ parent() }}
        <link href="{{ asset('/blog/css/index.css') }}" rel="stylesheet">
    {% endblock %}

    {% block js %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('/blog/js/index.bundle.js') }}"></script>
    {% endblock %}

    {% block content %}
        <main class="home">
            <section class="sc-1" id="about">
                <div class="sc-1__wrap">
                    <div class="sc-1__info">
                        <h1 class="sc-1__title">Another way<br>to your mental health<br>and motivation</h1>
                        <h2 class="sc-1__subtitle">Improve yourself while sleeping with affirmations</h2>
                        <div class="sc-1__watch-video"><a class="btn" href="javascript:void(0)" data-toggle="modal" data-target="#video">Watch video</a></div><a class="sc-1__app-btn" href="https://itunes.apple.com/app/id1274009022" target="_blank"><img src="/images/app_store_cta.svg"></a>
                    </div>
                    <div class="sc-1__app device">
                        <div class="device__phone"><img src="/images/X-phone-animation.png">
                            <div class="device__animation">
                                <div class="device__ring device__ring-1">1</div>
                                <div class="device__ring device__ring-2"></div>
                                <div class="device__ring device__ring-3"></div><a class="device__ring device__play" href="javascript:void(0)" data-toggle="modal" data-target="#video"><img class="play" src="/images/play-2.svg"><img class="watch" src="/images/WATCH.svg"><img class="video" src="/images/VIDEO.svg"></a>
                            </div>
                        </div>
                        <div class="device__watch"></div>
                    </div>
                </div>
            </section>
            <section class="sc-2" id="how_it_work">
                <div class="sc-2__wrap">
                    <div class="sc-2__title">How it works?
                        <div class="sc-2__title-img"><img src="/images/health.svg"></div>
                    </div>
                    <p class="sc-2__desc">Recent somnology studies confirm that a person is able to perceive information in certain sleep phases to infix existing knowledge. Based on these studies, we have created an algorithm that will help you improve your mental health and increase motivation. Hypnopedia uses Apple Watch sensors to determine the correct phase of sleep for playing affirmations. After a productive sleep the smart alarm clock will wake you up at the most convenient time before the set wake-up time</p>
                    <p class="sc-2__action"><a class="btn" href="https://itunes.apple.com/app/id1274009022" target="_blank">Try for free</a></p>
                    <ul class="sc-2__steps">
                        <li class="sc-2__step-item"><img class="sc-2__step-icon" src="/images/install-v1.svg">
                            <div class="sc-2__step-title">Install</div>
                            <div class="sc-2__step-desc">and launch<br>the application</div>
                        </li>
                        <li class="sc-2__step-item"><img class="sc-2__step-icon" src="/images/choose-v1.svg">
                            <div class="sc-2__step-title">Choose</div>
                            <div class="sc-2__step-desc">affirmations and set<br>the alarm time</div>
                        </li>
                        <li class="sc-2__step-item"><img class="sc-2__step-icon" src="/images/sync-v1.svg">
                            <div class="sc-2__step-title">Synchronize</div>
                            <div class="sc-2__step-desc">with Apple Watch<br>to invoke its sensors</div>
                        </li>
                        <li class="sc-2__step-item"><img class="sc-2__step-icon" src="/images/night-v1.svg">
                            <div class="sc-2__step-title">Nighty-night!</div>
                            <div class="sc-2__step-desc">Our algorithm will take care<br>of you during sleep</div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="sc-3" id="features">
                <div class="sc-3__wrap">
                    <div class="sc-3__title">Main features</div>
                    <div class="sc-3__features">
                        <div class="sc-3__feature"><img class="sc-3__feature-cover" src="/images/1.jpg">
                            <div class="sc-3__feature-info">
                                <div class="sc-3__feature-title">HYPNOPEDIA</div>
                                <div class="sc-3__feature-desc">Unique algorithms<br>based on recent<br>sleep studies</div>
                            </div>
                        </div>
                        <div class="sc-3__feature"><img class="sc-3__feature-cover" src="/images/2.jpg">
                            <div class="sc-3__feature-info">
                                <div class="sc-3__feature-title">SMART-ALARM</div>
                                <div class="sc-3__feature-desc">Built-in Smart Alarm<br>wakes you at the most<br>convenient moment<br>of your sleep</div>
                            </div>
                        </div>
                        <div class="sc-3__feature"><img class="sc-3__feature-cover" src="/images/3.jpg">
                            <div class="sc-3__feature-info">
                                <div class="sc-3__feature-title">360-DEGREE ASMR</div>
                                <div class="sc-3__feature-desc">ASMR sounds with<br>3D effect for deep<br>relaxation and meditation</div>
                            </div>
                        </div>
                        <div class="sc-3__feature"><img class="sc-3__feature-cover" src="/images/4.jpg">
                            <div class="sc-3__feature-info">
                                <div class="sc-3__feature-title">STATISTICS</div>
                                <div class="sc-3__feature-desc">Your personal<br>summary data</div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-3__action"><a class="btn" href="https://itunes.apple.com/app/id1274009022" target="_blank">Try for free</a></div>
                </div>
            </section>
            <section class="sc-4" id="science">
                <div class="sc-4__wrap">
                    <div class="sc-4__sciences science">
                        <div class="science__h">Science</div>
                        <div class="science__list">
                            <div class="science__item">
                                <div class="science__title">Nature Communications</div>
                                <div class="science__desc">Implicit memory for words heard during sleep<a class="science__btn" href="https://www.nature.com/articles/s41467-017-00071-z" target="_blank">read more  &raquo;</a></div>
                            </div>
                            <div class="science__item">
                                <div class="science__title">Oxford academic</div>
                                <div class="science__desc">Formation and suppression of acoustic memories during human sleep<a class="science__btn" href="https://academic.oup.com/nc/article/2016/1/niw014/2757134" target="_blank">read more  &raquo;</a></div>
                            </div>
                            <div class="science__item">
                                <div class="science__title">ScienceDirect</div>
                                <div class="science__desc">Inducing task-relevant responses to speech in the sleeping brain<a class="science__btn" href="https://www.sciencedirect.com/science/article/pii/S0960982214009944" target="_blank">read more  &raquo;</a></div>
                            </div>
                            <div class="science__item">
                                <div class="science__title">ResearchGate</div>
                                <div class="science__desc">The cessation of rumination through selfaffirmation<a class="science__btn" href="https://www.sciencedirect.com/science/article/pii/S0960982214009944" target="_blank">read more  &raquo;</a></div>
                            </div>
                            <div class="science__item">
                                <div class="science__title">The National Center for Biotechnology Information</div>
                                <div class="science__desc">Self-affirmation alters the brain’s response to health messages and subsequent behavior change<a class="science__btn" href="https://www.sciencedirect.com/science/article/pii/S0960982214009944" target="_blank">read more  &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-4__doctor doctor">
                        <div class="doctor__md">
                            <div class="doctor__cover"></div>
                            <div class="doctor__name">Andrew Sokol</div>
                            <div class="doctor__position">CEO</div>
                            <div class="doctor__role">Brain Geek, Associate Professor, MD, PhD Belarusian state medical university</div>
                        </div>
                        <div class="doctor__quotes">
                            <div class="doctor__quote">
                                <div class="doctor__quote-text">“Dreams are the royal road to the unconscious.”</div>
                                <div class="doctor__quote-author">S. Freud</div>
                            </div>
                            <div class="doctor__quote">
                                <div class="doctor__quote-text">“It would be a regrettable omission to go around.”</div>
                                <div class="doctor__quote-author">A. Sokol</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sc-5" id="faq">
                <div class="sc-5__wrap">
                    <div class="sc-5__title">FAQ</div>
                    <div class="sc-5__accordion">
                        <div class="sc-5__accordion-item">
                            <div class="sc-5__accordion-head">
                                <div class="sc-5__accordion-title">What is necessary to work with Hypnopedia?</div><i class="icon-Polygon-1"></i>
                            </div>
                            <div class="sc-5__accordion-description">You will need an iPhone, Apple Watch and an application installed from the App Store. Apple Watch synchronizes with your smartphone and transfers the user's biological parameters to it.</div>
                        </div>
                        <div class="sc-5__accordion-item">
                            <div class="sc-5__accordion-head">
                                <div class="sc-5__accordion-title">Which iPhone / Apple Watch models are compatible?</div><i class="icon-Polygon-1"></i>
                            </div>
                            <div class="sc-5__accordion-description">Hypnopedia supports iPhones 6 and later, as well as all Apple Watch / iPod touch models, with iOS 11 / watchOS 5.0 and later.</div>
                        </div>
                        <div class="sc-5__accordion-item">
                            <div class="sc-5__accordion-head">
                                <div class="sc-5__accordion-title">How much of battery charge does the app consume?</div><i class="icon-Polygon-1"></i>
                            </div>
                            <div class="sc-5__accordion-description">Depending on the model and condition of the battery, as well as the duration of sleep, the consumption per night is:</div>
                        </div>
                        <div class="sc-5__accordion-item">
                            <div class="sc-5__accordion-head">
                                <div class="sc-5__accordion-title">Where does the sound come from?</div><i class="icon-Polygon-1"></i>
                            </div>
                            <div class="sc-5__accordion-description">The sound of affirmations comes from the speakers of your smartphone. However, you can use any headphones compatible with your device.</div>
                        </div>
                        <div class="sc-5__accordion-item">
                            <div class="sc-5__accordion-head">
                                <div class="sc-5__accordion-title">Do i need to stay awake in the meantime?</div><i class="icon-Polygon-1"></i>
                            </div>
                            <div class="sc-5__accordion-description">No. The app is designed so that everything happens while you sleep. You don’t wake up or hear inspirational statements at all. Affirmations interact directly with the subconscious.</div>
                        </div>
                        <div class="sc-5__accordion-item">
                            <div class="sc-5__accordion-head">
                                <div class="sc-5__accordion-title">How does Hypnopedia affect sleep?</div><i class="icon-Polygon-1"></i>
                            </div>
                            <div class="sc-5__accordion-description">Hypnopedia does not affect sleep in any way, but uses this time to enhance your mental health and motivation. The app adapts to individual biological characteristics and works in tune with your lifestyle.</div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal" id="video" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content"><a class="modal-close" href="javascript:void(0)" data-dismiss="modal">&times;</a>
                        <iframe src="https://www.youtube.com/embed/YUp619eJObU?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}