{% extends 'layout.html.twig' %}

{% block title %}Hola{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('/blog/css/article.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('blog/js/article.bundle.js') }}"></script>
{% endblock %}

{% block content %}
    <main class="article">
        <section class="article__cover">
            <h1 class="article__title">BiXBiT participated in Bitmain's World Digital Mining Summit 2019</h1>
            <div class="article__socials socials"><a class="socials__item fb" href="javascript:void(0)"></a><a class="socials__item tw" href="javascript:void(0)"></a><a class="socials__item in" href="javascript:void(0)"></a></div>
        </section>
        <section class="article__main">
            <div class="article__content">The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus  The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus</div>
            <div class="article__group">
                <div class="article__published">Publication date: 6 months ago</div>
                <div class="article__socials socials"><a class="socials__item fb-c" href="javascript:void(0)"></a><a class="socials__item tw-c" href="javascript:void(0)"></a><a class="socials__item in-c" href="javascript:void(0)"></a></div>
            </div>
            <div class="article__categories categories"><a class="categories__item" href="">meditation</a><a class="categories__item" href="">affirmation</a></div>
        </section>
        <section class="article__aside">
            <div class="collection">
                <div class="collection__title">Latest news</div>
                <div class="collection__list">
                    <div class="collection__item">
                        <div class="collection__num">1</div>
                        <div class="collection__info"><a class="collection__article">The unique construction of the BiXBiT installation has been patented in Russia and Belarus</a><a class="collection__category">BiXBiT</a></div>
                    </div>
                    <div class="collection__item">
                        <div class="collection__num">2</div>
                        <div class="collection__info"><a class="collection__article">The unique construction of the BiXBiT installation has been patented in Russia and Belarus</a><a class="collection__category">BiXBiT</a></div>
                    </div>
                    <div class="collection__item">
                        <div class="collection__num">3</div>
                        <div class="collection__info"><a class="collection__article">The unique construction of the BiXBiT installation has been patented in Russia and Belarus</a><a class="collection__category">BiXBiT</a></div>
                    </div>
                    <div class="collection__item">
                        <div class="collection__num">4</div>
                        <div class="collection__info"><a class="collection__article">The unique construction of the BiXBiT installation has been patented in Russia and Belarus</a><a class="collection__category">BiXBiT</a></div>
                    </div>
                </div>
            </div>
            <div class="collection">
                <div class="collection__title">Related materials:</div>
                <div class="collection__list">
                    <div class="collection__item">
                        <div class="collection__num">1</div>
                        <div class="collection__info"><a class="collection__article">The unique construction of the BiXBiT installation has been patented in Russia and Belarus</a><a class="collection__category">BiXBiT</a></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}